.wrapper{
    display: contents;
}
.container {
    float: right;
    height: 25px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo {
    height: 3px;
    width: 30px;
    background-color: #f26440;
}

#navbar ul {
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
}

.menu {
    background-color: #f9f9f8;
    width: 44%;
    height: 610px;
    transform: translateX(-500px);
    transition: 0.5s;
}

.showmenu{
    transform: translateX(0);
}

.menu li {
    border-bottom: 1px solid rgb(20, 20, 21);
    padding: 30px 0;
    text-align: center;
}

.menu li:last-child{
    border-bottom: none;
}

#navbar ul li a {
    margin: 0px -3px;
    padding: 10px;
    font-size: 1rem;
}

.top {
    flex-wrap: wrap;
    margin: 20px;
}

#HOME {
    height: 950px;
    padding: 40px 0px 0px 0px;
    background-color: #f8f7f1;
}

#HOME .intro p {
    font-size: 1.7rem;
}

#HOME .about {
    margin: 10px 0px;
}

#HOME .about p {
    text-align: left;
    font-size: 1.1rem;
}
.intro-about {
    display: flex;
    flex-direction: column;
}
.About h1 {
    font-size: 1.7rem;
    font-family: 'Ibarra Real Nova', serif;
    color: #728394;
}
.font-italic {
    font-style: italic !important;
    margin-bottom: 1rem;
    line-height: 1.1rem;
    font-size: 1rem !important;
}
.profile-shivam {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
}

.profile-shivam ul li {
    /* padding-bottom: 15px; */
    font-size: 0.925rem;
}

.right-profile {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 1rem;
    padding-left: 5px;
    margin-right: none;
    padding: none;

}
.description p{
    display: block;
    line-height: 1.5rem;
    font-size: 1rem;
}
.img img {
    height: 370px;
    position: relative;
    top: 65px;
}

.bg img {
    height: 343px;
    position: relative;
    top: 330px;
}

.down {
    display: none;
}

#SERVICE {
    height: 605px;
}

#SERVICE .aid {
    flex-wrap: wrap-reverse;
}

#SERVICE .aid .right {
    width: 94vw;
}

#SERVICE .aid .right h1 {
    font-size: 1.7rem;
}

#SERVICE .aid .right p {
    line-height: 25px;
}

#SERVICE .aid .right .procl {
    margin: 10px 0px;
    justify-content: space-around;
}

#SERVICE .aid .right .procl h1 {
    font-size: 1.7rem;
}

#SERVICE .aid .left {
    width: 100%;
}

#EXPERIENCE {
    height: 320px;
}

#EXPERIENCE h1 {
    font-size: 1.7rem;
}

#EXPERIENCE .copr {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

#EXPERIENCE .copr .company {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

#EXPERIENCE .copr .des{
    width: 100%;
}

#EXPERIENCE .copr h4 {
    font-size: 1.3rem;
}

#EXPERIENCE .copr p {
    font-size: 1.1rem;
    line-height: 25px;
    margin-bottom: 10px;
}

#EDUCATION {
    height: 876px;
}

#EDUCATION h1 {
    font-size: 1.7rem;
}

#EDUCATION .mega {
    flex-wrap: wrap;
}

#EDUCATION .mega .mini {
    background-color: #ffff;
}

#EDUCATION .mega .mini h4 {
    font-size: 1.3rem;
}

#EDUCATION .mega .mini ul li p {
    font-size: 1.1rem;
}



#PROJECT {
    height: 696px;
}

#PROJECT h1 {
    font-size: 1.7rem;
}

#PROJECT .big {
    flex-wrap: wrap;
}

#PROJECT .big .small {
    height: 340px;
    margin: 0;
    padding: 10px;
    margin: 10px 0px;
    background-color: #f8f7f1
}

#PROJECT .big .small img {
    height: 152px;
}

#PROJECT .big .small h4 {
    font-size: 1.3rem;
}

#PROJECT .big .small p {
    font-size: 1.1rem;
}

#SKILL {
    height: 876px;
}

#SKILL h1 {
    font-size: 1.7rem;
}

#SKILL .mega {
    flex-wrap: wrap;
}

#SKILL .mega .mini {
    background-color: #ffff;
    margin:20px;
}

#SKILL .mega .mini h4 {
    /* padding-left: 1000px;
    padding-right: 10000px;  */
    font-size: 0.95rem;
}

#SKILL .mega .mini ul li p {
    font-size: 0.9rem;
}

#CONTACT {
    height: 240px;
}

.Information {
    margin: 0px 0px 66px 0px;
    padding: 10px;
    display:inline-block !important;
    
}

.Information p {
    font-size: 1.5rem;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
}

.Information span {
    font-size: 1.1rem;
    font-family: 'Ibarra Real Nova', serif;
}
#CONTACT .west {
    display: none;
}



#CONTACT .east .together h1 {
    font-size: 1.7rem;
}

#CONTACT .east .together p {
    font-size: 1.3rem;
}

#CONTACT .east .hi h1 {
    font-size: 1.7rem;
}

#CONTACT .hi ul li a {
    font-size: 1.3rem;
}

.designerinfo {
    display: inline-block;
    margin: 0px 5%;
}
.responsive-icons{
    display:flex;
    flex-direction: row;
    margin-top:0;
}
