.red {
    background-color: #f26440;
}

.yellow {
    background-color: #EDBF48;
}

.green {
    background-color: #316b6b;
}

.center {
    text-align: center;
}

.fontRe {
    color: #f26440;
}

.fontYe {
    color: #EDBF48
}

.fontGr {
    color: #316b6b
}

.bold {
    font-weight: bold;
}

.panda {
    color: #f26440;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}